<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="tradeCategories" type="Trade.Core.Configuration.TradeCategoriesConfigurationSection, Trade.Core"/>
    <section name="tradeModules" type="Trade.Core.Configuration.TradeModulesConfigurationSection, Trade.Core"/>
  </configSections>

  <appSettings>
    <add key="filePath" value="C:\Users\DELL\source\repos\TradeCategory\Trade.ConsoleUI\Data"/>
    <add key="dataProvider" value="Trade.Core.Providers.TextFileProvider,Trade.Core"/>
  </appSettings>

  <tradeModules>
    <modules>
      <add name="portfolioCategorization" type="Portfolio.PortfolioCategorizationModule, Trade.Modules"/>
    </modules>
  </tradeModules>

  <tradeCategories>
    <categories>
      <add name="DEFAULTED" type="Trade.Core.Categories.DefaultedCategory, Trade.Core" priority="0"/>
      <add name="HIGHRISK" type="Trade.Core.Categories.HighRiskCategory, Trade.Core" priority="1"/>
      <add name="MEDIUMRISK" type="Trade.Core.Categories.MediumRiskCategory, Trade.Core" priority="2"/>
    </categories>
  </tradeCategories>
</configuration>